// =============================================
//              Layout Helpers
//          Last Updated:2013-6-23
// =============================================


@import "animations"; // required for spin helpers


///////////////////////
//       mixins      //
///////////////////////

@mixin _clear                     { clear: both;
  &:after                         { content:''; display:block; clear:both; }
}
@mixin _clearfix                  { @include _clear; } // alias

@mixin _padded($multiple: 1)      { padding: $gutter * $multiple; }
@mixin _pad-top($multiple: 1)     { padding-top: $gutter * $multiple; }
@mixin _pad-right($multiple: 1)   { padding-right: $gutter * $multiple; }
@mixin _pad-bottom($multiple: 1)  { padding-bottom: $gutter * $multiple; }
@mixin _pad-left($multiple: 1)    { padding-left: $gutter * $multiple; }

@mixin _gapped($multiple: 1)      { margin: $gutter * $multiple; }
@mixin _gap-top($multiple: 1)     { margin-top: $gutter * $multiple; }
@mixin _gap-right($multiple: 1)   { margin-right: $gutter * $multiple; }
@mixin _gap-bottom($multiple: 1)  { margin-bottom: $gutter * $multiple; }
@mixin _gap-left($multiple: 1)    { margin-left: $gutter * $multiple; }

@mixin _fixed($position: null) {
  position: fixed;
  @each $anchor in top, right, bottom, left {
    @if $position == $anchor {#{$position}: 0;}
  }
  @if $position == middle {top: 50%;}
  @if $position == center {left: 50%;}
}

@mixin _absolute($position: null) {
  position: absolute;
  @each $anchor in top, right, bottom, left {
    @if $position == $anchor {#{$position}: 0;}
  }
  @if $position == middle {top: 50%;}
  @if $position == center {left: 50%;}
}

@mixin _static                    { position: static; }

@mixin _inline                    { display:inline-block; width:auto; }
@mixin _block                     { display:block; }
@mixin _hidden                    { display:none !important; }

@mixin _small                     { font-size:0.8em; }
@mixin _large                     { font-size:1.5em; }

@mixin _zero                      { margin:0; padding:0; }

@mixin _pull-right                { float:right; }
@mixin _pull-left                 { float:left; }

@mixin _bordered                  { border: 1px solid $border-color; }
@mixin _border-top                { border-top:1px solid $border-color; }
@mixin _border-right              { border-right:1px solid $border-color; }
@mixin _border-bottom             { border-bottom:1px solid $border-color; }
@mixin _border-left               { border-left:1px solid $border-color; }

@mixin _align-top                 { display:table-cell; vertical-align:top; } // must have height (experimental)
@mixin _align-right               { text-align:right; }
@mixin _align-bottom              { display:table-cell; vertical-align:bottom; } // must have height (experimental)
@mixin _align-left                { text-align:left; }
@mixin _align-center              { text-align:center; }
@mixin _justify                   { text-align:justify; }

@mixin _truncate                  { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

@mixin _center                    { @include _block; margin:0 auto; }

@mixin _square                    { @include border-radius(0); }
@mixin _round                     { @include rounded(9999em); }

@mixin _disabled                  { @include state(disabled,textOnly); }

@mixin _rotate-90                 { @include _inline; @include rotate(90deg); }
@mixin _rotate-180                { @include _inline; @include rotate(180deg); }
@mixin _rotate-270                { @include _inline; @include rotate(270deg); }
@mixin _rotate-90-ctr             { @include _inline; @include rotate(-90deg); }
@mixin _rotate-180-ctr            { @include _inline; @include rotate(-180deg); }
@mixin _rotate-270-ctr            { @include _inline; @include rotate(-270deg); }

@mixin _spin                      { @include _inline; @include spin; }
@mixin _spin-once                 { @include _inline; @include spin(1); }
@mixin _spin-twice                { @include _inline; @include spin(2); }
@mixin _spin-thrice               { @include _inline; @include spin(3); }
@mixin _spin-fast                 { @include _inline; @include spin(infinite,1s); }
@mixin _spin-fast-once            { @include _inline; @include spin(1,1s); }
@mixin _spin-fast-twice           { @include _inline; @include spin(2,1s); }
@mixin _spin-fast-thrice          { @include _inline; @include spin(3,1s); }
@mixin _spin-slow                 { @include _inline; @include spin(infinite,5s); }
@mixin _spin-slow-once            { @include _inline; @include spin(1,5s); }
@mixin _spin-slow-twice           { @include _inline; @include spin(2,5s); }
@mixin _spin-slow-thrice          { @include _inline; @include spin(3,5s); }




///////////////////////
//    placeholders   //
///////////////////////

%clear, %clearfix { @include _clear;}

%padded           { @include _padded;
  &%double        { @include _padded(2); }
  &%triple        { @include _padded(3); }
}
%pad-top          { @include _pad-top;
  &%double        { @include _pad-top(2); }
  &%triple        { @include _pad-top(3); }
}
%pad-right        { @include _pad-right;
  &%double        { @include _pad-right(2); }
  &%triple        { @include _pad-right(3); }
}
%pad-bottom       { @include _pad-bottom;
  &%double        { @include _pad-bottom(2); }
  &%triple        { @include _pad-bottom(3); }
}
%pad-left         { @include _pad-left;
  &%double        { @include _pad-left(2); }
  &%triple        { @include _pad-left(3); }
}

%gapped           { @include _gapped;
  &%double        { @include _gapped(2); }
  &%triple        { @include _gapped(3); }
}
%gap-top          { @include _gap-top;
  &%double        { @include _gap-top(2); }
  &%triple        { @include _gap-top(3); }
}                   
%gap-right        { @include _gap-right;
  &%double        { @include _gap-right(2); }
  &%triple        { @include _gap-right(3); }
}                   
%gap-bottom       { @include _gap-bottom;
  &%double        { @include _gap-bottom(2); }
  &%triple        { @include _gap-bottom(3); }
}                   
%gap-left         { @include _gap-left;
  &%double        { @include _gap-left(2); }
  &%triple        { @include _gap-left(3); }
}

%fixed            { @include _fixed; }
%fixed-top        { @include _fixed(top); }
%fixed-right      { @include _fixed(right); }
%fixed-bottom     { @include _fixed(bottom); }
%fixed-left       { @include _fixed(left); }
%fixed-middle     { @include _fixed(middle); }
%fixed-center     { @include _fixed(center); }

%absolute         { @include _absolute; }
%absolute-top     { @include _absolute(top); }
%absolute-right   { @include _absolute(right); }
%absolute-bottom  { @include _absolute(bottom); }
%absolute-left    { @include _absolute(left); }
%absolute-middle  { @include _absolute(middle); }
%absolute-center  { @include _absolute(center); }

%static           { @include _static; }

%inline           { @include _inline; }
%block            { @include _block; }
%hidden           { @include _hidden; }

%small            { @include _small; }
%big, %large      { @include _large; }

%zero             { @include _zero; }

%pull-right       { @include _pull-right; }
%pull-left        { @include _pull-left; }

%bordered         { @include _bordered; }
%border-top       { @include _border-top; }
%border-right     { @include _border-right; }
%border-bottom    { @include _border-bottom; }
%border-left      { @include _border-left; }

%align-top        { @include _align-top; } // must have height (experimental)
%align-right      { @include _align-right; }
%align-bottom     { @include _align-bottom; } // must have height (experimental)
%align-left       { @include _align-left; }
%align-center     { @include _align-center; }   
%justify          { @include _justify; }

%truncate         { @include _truncate; }

%center           { @include _center; }

%square           { @include _square; }
%round            { @include _round; }

%disabled         { @include _disabled; }

%rotate-90        { @include _rotate-90; }
%rotate-180       { @include _rotate-180; }
%rotate-270       { @include _rotate-270; }
%rotate-90-ctr    { @include _rotate-90-ctr; }
%rotate-180-ctr   { @include _rotate-180-ctr; }
%rotate-270-ctr   { @include _rotate-270-ctr; }

%spin             { @include _spin; }
%spin-once        { @include _spin-once; }
%spin-twice       { @include _spin-twice; }
%spin-thrice      { @include _spin-thrice; }
%spin-fast        { @include _spin-fast; }
%spin-fast-once   { @include _spin-fast-once; }
%spin-fast-twice  { @include _spin-fast-twice; }
%spin-fast-thrice { @include _spin-fast-thrice; }
%spin-slow        { @include _spin-slow; }
%spin-slow-once   { @include _spin-slow-once; }
%spin-slow-twice  { @include _spin-slow-twice; }
%spin-slow-thrice { @include _spin-slow-thrice; }




///////////////////////
//      classes      //
///////////////////////

@if $layout-classes {
  @for $i from 1 through length($layout-helpers) {
    .#{nth($layout-helpers, $i)} { @extend %#{nth($layout-helpers, $i)}; }
  }
  .clear, .clearfix { @extend %clear;
    &:after         { content:''; display:block; clear:both; }
  }
}
@if $positioning-classes {
  .stick, .fixed    { @extend %fixed;
    &.top           { @extend %fixed-top; }
    &.right         { @extend %fixed-right; }
    &.bottom        { @extend %fixed-bottom; }
    &.left          { @extend %fixed-left; }
    &.middle        { @extend %fixed-middle; }
    &.center        { @extend %fixed-center; }
  }
  .absolute         { @extend %absolute;
    &.top           { @extend %absolute-top; }
    &.right         { @extend %absolute-right; }
    &.bottom        { @extend %absolute-bottom; }
    &.left          { @extend %absolute-left; }
    &.middle        { @extend %absolute-middle; }
    &.center        { @extend %absolute-center; }
  }
  .static           { @extend %static; }
}
@if $typography-classes {
  @for $i from 1 through length($typography-helpers) {
    .#{nth($typography-helpers, $i)} { @extend %#{nth($typography-helpers, $i)}; }
  }
}
@if $size-classes {
  @for $i from 1 through length($size-helpers) {
    .#{nth($size-helpers, $i)} { @extend %#{nth($size-helpers, $i)}; }
  }
}
@if $border-classes {
  @for $i from 1 through length($border-helpers) {
    .#{nth($border-helpers, $i)} { @extend %#{nth($border-helpers, $i)}; }
  }
}
@if $radius-classes {
  @for $i from 1 through length($radius-helpers) {
    .#{nth($radius-helpers, $i)} { @extend %#{nth($radius-helpers, $i)}; }
  }
}
@if $rotation-classes {
  @for $i from 1 through length($rotation-helpers) {
    .#{nth($rotation-helpers, $i)} { @extend %#{nth($rotation-helpers, $i)}; }
  }
}
@if $spin-classes {
  @for $i from 1 through length($spin-helpers) {
    .#{nth($spin-helpers, $i)} { @extend %#{nth($spin-helpers, $i)}; }
  }
}
@if $spacer-classes {
  @for $i from 1 through length($spacer-helpers) {
    .#{nth($spacer-helpers, $i)} {
      @extend %#{nth($spacer-helpers, $i)};
      @if $spacer-mod-classes {
        @for $i from 1 through length($spacer-modifiers) {
          &.#{nth($spacer-modifiers, $i)} { @extend %#{nth($spacer-modifiers, $i)}; }
        }
      }
    }
  }
}
